services:
    postgres:
        image: postgres:latest
        restart: always
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=online-shopping
        ports:
            - "7070:5432"
        volumes:
            - db:/var/lib/postgresql

volumes:
    db:
        driver: local